 <!-- Header -->


<div class="col-md-3">
	<div class="sidebar content-box" style="display: block;">
		<ul class="nav">
			<!-- Main menu -->
			<li class="current"><a href="~/Home/AdminIndex"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>

			<li class="submenu">
				<a href="#">
					<i class="glyphicon glyphicon-list"></i> Tickets
					<span class="caret pull-right"></span>
				</a>
				<!-- Sub menu -->
				<ul>
					<li><a href="~/Tickets/QuickAddTicket">Assign Tickets</a></li>
					<li><a href="~/BankTransactions/IndexApprovals?ttype=ticketpurchase">EFT Ticket Purchase</a></li>
					<li><a href="~/Tickets/Index">All Tickets Purchases</a></li>


				</ul>
			</li>
			<li class="submenu">
				<a href="#">
					<i class="glyphicon glyphicon-list"></i> Events
					<span class="caret pull-right"></span>
				</a>
				<!-- Sub menu -->
				<ul>
					<li><a href="~/EventOrganisers/IndexList">Event Organisers</a></li>
					<li><a href="~/Events/Index">All Events</a></li>
					<li><a href="~/Webform7.aspx">Tickets For Event</a></li>
					<li><a href="~/EventCategories/Index">Categories</a></li>


				</ul>
			</li>
			<li class="submenu">
				<a href="#">
					<i class="glyphicon glyphicon-list"></i> Cashless
					<span class="caret pull-right"></span>
				</a>
				<!-- Sub menu -->
				<ul>
					<li><a href="~/BankTransactions/IndexApprovals?ttype=manualeft">EFT Topups</a></li>
					<li><a href="~/BankTransactions/IndexApprovals?ttype=withdrawal">Fund Withdraw</a></li>

					<li><a href="~/Vendors/Index">Vendors</a></li>
					<li><a href="~/NFCTags/Index">Tags</a></li>
				</ul>
			</li>
			<li class="submenu">
				<a href="#">
					<i class="glyphicon glyphicon-list"></i> Admin
					<span class="caret pull-right"></span>
				</a>
				<!-- Sub menu -->
				<ul>
					<li><a href="~/WebForm5.aspx">Duplicate Purhchase</a></li>
					<li><a href="~/WebForm8.aspx">Payfast Errors</a></li>
					<li><a href="~/BankTransactions/Index">All Bank Transaction</a></li>
					<li><a href="~/WebForm1.aspx">Run Database Query</a></li>

					<li><a href="~/FeeConfigurations/Index">Configure Fees</a></li>
					<li><a href="~/Home/AppApks">App Downloads</a></li>

				</ul>
			</li>
			<li class="submenu">
				<a href="#">
					<i class="glyphicon glyphicon-list"></i> Customers
					<span class="caret pull-right"></span>
				</a>
				<!-- Sub menu -->
				<ul>
					<li><a href="~/EndUsers/Index">Customer List</a></li>



				</ul>
			</li>

			<li class="submenu">
				<a href="#">
					<i class="glyphicon glyphicon-list"></i> Quick Add
					<span class="caret pull-right"></span>
				</a>
				<!-- Sub menu -->
				<ul>
					<li><a href="~/EventAdmin/Index">Quick Add Dashboard</a></li>



				</ul>
			</li>
			<li class="submenu">
				<a href="#">
					<i class="glyphicon glyphicon-list"></i>Subdomain
					<span class="caret pull-right"></span>
				</a>
				<!-- Sub menu -->
				<ul>
					<li><a href="~/Subdomain/Index">Subdomain</a></li>



				</ul>
			</li>
			</li>
			<li class="submenu">
				<a href="#">
					<i class="glyphicon glyphicon-list"></i>Configurations
					<span class="caret pull-right"></span>
				</a>
				<!-- Sub menu -->
				<ul>
					<li><a href="~/Configurations">Configure Sites</a></li>



				</ul>
			</li>











		</ul>
	</div>
	</div>

	

