<section id="header">
    <header>
        <span class="logo"><img src="../../content/images/logo_dark.svg" alt="" class="small_logo" /></span>


    </header>
    <header>
        <span class="image avatar"><img src="../../content/images/avatar.jpg" alt="" /></span>
        <div class="h3"><a href="#">Donavan Wallis</a></div>
        <div class="p">
            <a href="~/EventOrganisers/EditMyDetails">Edit company Details</a>
        </div>
    </header>

    <nav id="nav">
        <ul>
            <li><a href="~/EventOrganisers/MyDetails">Profile</a></li>
            <li><a href="~/Events/IndexForEO">Manage Events</a></li>
            <li><a href="~/Events/CreateByEO">Add Event</a></li>

            <li><a href="~/Home/Contact">Contact</a></li>
            <li><a href="~/Account/Logoff">Logout</a></li>
        </ul>
    </nav>
    <footer>
        <img src="../../content/images/payment.png" class="responsive" />
    </footer>

</section>
