<!DOCTYPE html>
<html>
<head>
    <title>MiiD | Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="MiiD">
    <meta name="keywords" content="">
    @*<link rel="stylesheet" href="css/main.css" type="text/css">*@
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

  <!-- Facebook Pixel Code -->
  <script>
        !function (f, b, e, v, n, t, s) {
          if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
          }; if (!f._fbq) f._fbq = n;
          n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
          t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1586564268035866');
        fbq('track', 'PageView');
        fbq('track', 'Lead');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=1586564268035866&ev=PageView&noscript=1" />
  </noscript>
  <!-- DO NOT MODIFY -->
  <!-- End Facebook Pixel Code -->


</head>



<body>


    @RenderBody()
   
</body>
</html>

