@using Microsoft.AspNet.Identity
@{
	/**/

	ViewBag.Title = "Forgot Password Confirmation";
	bool IAmEventOrganiser = false;
	if (Request.IsAuthenticated)
	{
		IAmEventOrganiser = MiidWeb.Repositories.EndUserRepository.AmIAnEventOrganiser(User.Identity.GetUserName());
	}

}

@if (IAmEventOrganiser)
{
	Layout = MiidWeb.Repositories.TicketRepository.GetLayoutFile("LayoutEventOrganiser");
}
else
{
	Layout = MiidWeb.Repositories.TicketRepository.GetLayoutFile("Layout");
}


@if (IAmEventOrganiser)
{
	
<div class="row">
	<div class="panel-body">
		<div class="col-md-12 w3ls-graph">
			<!--agileinfo-grap-->
			<div class="agileinfo-grap">
				<div class="agileits-box">
					<div class="agileits-box-body clearfix">
						<div class="form-group col-md-2">
							<i class="fa fa-exclamation-circle fa-5x" aria-hidden="true" style="color:#be1c1d"></i>
						</div>
							<div class="form-group col-md-10">

								

								<h2>Check your email</h2>
								We have sent you a password reset link via email. Check your email and follow the instructions to reset your password
								<br><br>



							</div>
						</div>

					</div>
			</div>
		</div>
		</div>
	</div>

		}
		else
		{
		<div class="container bg-grey">
			<div class="row vertical-offset-40px">


				<div class="col-md-6 col-md-offset-3">

					<div class="panel panel-default ">

						<div class="panel-body text-center">

							<i class="fa fa-exclamation-circle fa-5x" aria-hidden="true" style="color:#be1c1d"></i>

							<h2>Check your email</h2>
							We have sent you a password reset link via email. Check your email and follow the instructions to reset your password
							<br><br>



						</div>
					</div>

				</div>
			</div>
		</div>
		}






