<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=sql.freeasphost.net\MSSQL2016;Initial Catalog=cindiuser_webapp007;User ID=cindiuser;Password=Cindi123!" providerName="System.Data.SqlClient" />
		<!--<add name="MiidEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.freeasphost.net\MSSQL2016;initial catalog=cindiuser_webapp007;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="MiidConnectionString" connectionString="Data Source=sql.freeasphost.net\MSSQL2016;Initial Catalog=cindiuser_webapp007;User ID=cindiuser;Password=Cindi123!" providerName="System.Data.SqlClient" />
		<add name="MiidEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.freeasphost.net\MSSQL2016;initial catalog=cindiuser_webapp007;persist security info=True;user id=cindiuser;password=Cindi123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>

		<add key="DebugMode" value="true" />
		<add key="baseYear" value="2020" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="PaymentMode" value="test" />
		<add key="PF_MerchantId" value="10947175" />
		<add key="PF_MerchantKey" value="rw09adl0lsvv8" />
		<add key="PF_ReturnURL_Ticket" value="http://localhost:58088/PayfastConfirm.aspx?pps=ticket" />
		<add key="PF_ReturnURL" value="http://localhost:58088/PayfastConfirm.aspx" />
		<add key="PF_CancelURL" value="http://localhost:58088/PayfastCancel.aspx" />
		<add key="PF_NotifyURL" value="http://localhost:58088/PayfastNotify.aspx" />
		<add key="EmailHost" value="mail.miid.co.za" />
		<add key="EmailPort" value="25" />
		<add key="EmailUserName" value="info@miid.co.za" />
		<add key="EmailPassword" value="C0nvers@tion" />
		<add key="EmailContactEmail" value="info@miid.co.za" />
		<add key="EmailFromAddressTitle" value="MiiD HelpDesk" />
		<add key="EmailFromAddress" value="info@miid.co.za" />
		<add key="EmailSslEnabled" value="false" />
		<add key="PGsecret" value="d4986584-f8ee-4bd3-9889-cf554c80bec2" />
		<add key="PGtoken" value="60634776-309a-4be2-be43-b471bcb0f88a" />
		<add key="PGendpoint" value="https://developer.paygenius.co.za/pg/api/v2/redirect/create" />
		<add key="PGlookupendpoint" value="https://developer.paygenius.co.za/pg/api/v2/payment/" />
		<add key="PGcancelUrl" value="http://localhost:58088/Home/PaygeniusResponseCancel?Ref=${reference}" />
		<add key="PGerrorUrl" value="https://localhost:58088/Home/PaygeniusResponseError?Ref=${reference}" />
		<add key="PGsuccessUrl" value="http://localhost:58088/Home/PaygeniusResponseSuccess?Ref=${reference}" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<sessionState mode="InProc" timeout="2880" />
		<authentication mode="Forms">
			<forms loginUrl="~/Home/Index" timeout="2880" />
		</authentication>
		<customErrors mode="Off" />
		<pages controlRenderingCompatibilityVersion="4.0" />
		<identity impersonate="true" />
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US" />
		<compilation debug="true" targetFramework="4.7.2">
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</buildProviders>
			<assemblies>
				<add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</assemblies>
		</compilation>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
		</handlers>
		<httpErrors errorMode="Custom">
			<remove statusCode="404" />
			<error statusCode="404" path="/404.html" responseMode="File" />
		</httpErrors>
		<!--
       <rewrite>
      <rules>
        <clear />
        <rule name="CanonicalHostNameRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(www|farmyardpark|Bokbeursie)\.miid.co.za$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.miid.co.za/{R:1}" />
                </rule>
        
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="WordpressLandingPages" patternSyntax="ECMAScript" stopProcessing="true">
+    <match url="eventnews/^/[^/]+/$.*" />
+       <conditions>
+       <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
+       <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
+       </conditions>
+       <action type="Rewrite" url="index.php" />
+       </rule>
                
      </rules>
    </rewrite> 
    -->
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="MiidWebServiceSoap" />
				<binding name="MiidWebServiceSoap1" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://www.miid.co.za/MiidWebservice.asmx" binding="basicHttpBinding" bindingConfiguration="MiidWebServiceSoap" contract="ServiceReference1.MiidWebServiceSoap" name="MiidWebServiceSoap" />
			<endpoint address="http://www.miid.co.za/MiidWebservice.asmx" binding="basicHttpBinding" bindingConfiguration="MiidWebServiceSoap1" contract="ServiceReference2.MiidWebServiceSoap" name="MiidWebServiceSoap1" />
		</client>
	</system.serviceModel>
</configuration>