
@{
    ViewBag.Title = "Pin Change Confirmation";

}
<div class="container bg-grey">
	<div class="row vertical-offset-40px">


		<div class="col-md-6 col-md-offset-3">

			<div class="panel panel-default ">

				<div class="panel-body text-center">

					<br>

					<h3>Pin Changed Confirmed</h3>
					You have successfully updated your PIN. If you have any issues or problems please read our help section or contact support at support@miid.co.za. </a>

					<div class="row>">
						<div class="col-md-12">
							<div class="form-group">
								<br>
								<br>
								<a href="~/NFCTags/IndexByUserID" class="btn  btn-default btn-block btn-lg">Continue</a>
							</div>
						</div>
					</div>

					
				</div>
				</div>
			</div>
		</div>
	</div>








