@{
    ViewBag.Title = "App APKs";
    Layout = null;
}
<!DOCTYPE html>
<!--
    Read Only by HTML5 UP
    html5up.net |
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Admin Home</title>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex">
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../../content/css/main.css" />
    <link rel="stylesheet" href="../../content/css/carousel_2.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <script src="../../scripts/js/modernizr-2.6.2.min.js"></script>
</head>
<body>
    <div class="header_banner_conainer"><a href="https://www.miid.co.za"><img src="../../content/images/logo_dark.svg" alt="" class="logo" /></a></div>

    @Html.Partial("_AdminNavBar")


    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">

            <!-- One -->
            <section>

                <div class="container">
                    <header class="major">
                        <h1>Welcome to App Apk Page</h1>

                    </header>

                    <div class="p">
                        Latest Vendor App
                    </div>

                    <h2>
                        <a href="~/Uploads/AppApks/vendor-app-release.zip">Download</a></h2>
                    <div class="p">
                        Latest Ticket App
                    </div>
                    <h2><a href="~/Uploads/AppApks/ticket-app-release.zip">Download</a></h2></h2>

                </div>
            </section>

            <!-- Two -->





        </div>

        <!-- Footer -->
        <!-- Footer -->
        <section id="footer">
            <div class="container">
                <ul class="icons">
                    <li><a href="https://twitter.com/MiiDEvents" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/Fullsummerfest-1707827266111866/?fref=ts" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/miid_events/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>
                <ul class="copyright">
                    <li><a href="~/Home/Contact">Contact us</a></li>
                    <li><a href="~/Home/TermsConditions">Terms & Conditions</a></li>
                    <li><a href="~/Home/IndexEO">Event Organiser info</a></li>
                </ul>
                <img src="../../content/images/payment_strip.png" class="responsive" />

                <ul class="copyright">
                    <li>&copy; Copyright of MiiD (PTY) ltd. All rights reserved.</li>
                    <li>
                        MiiD online ticketing and cashless solutions
                        16 Franssen Street, Bothasig, Cape Town, South Afica, 7441
                    </li>
                </ul>


            </div>
        </section>

    </div>

    <!-- Scripts -->
    <script src="../../scripts/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../scripts/js/jquery-1.9.1.min.js"><\/script>')</script>

    <script src="../../scripts/js/main_carousel.js"></script>
    <script src="../../scripts/jquery.scrollzer.min.js"></script>
    <script src="../../scripts/jquery.scrolly.min.js"></script>
    <script src="../../scripts/skel.min.js"></script>
    <script src="../../scripts/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../../scripts/main.js"></script>

</body>
</html>
