
@model MiidWeb.Models.LoginViewModel
@{
	ViewBag.Title = "MiiD Box Office Systems";

	Layout = MiidWeb.Repositories.TicketRepository.GetLayoutFile("LayoutLanding");
}

<title>Sell custom branded ticekts on your branded website</title>
<meta name="description" content="Give your customers a fully branded event experience. Sell more tickets or top-up cashless funds with your own vanity URL and branded domain. " />
<section id="navigation">

	<div class="box1">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1 class="hd1">
						<br>
						Give your customers a fully branded experience
					</h1>

					<p>
						Building your own brand is one of the keys to success. Sell more tickets or top-up cashless funds with your own vanity URL and branded domain.
						<Br><Br>
					</p>

					<div class="row mar" id="">
						<div class="col-md-6">
							<a href="/Eventorganisers/Register2" class="click">LET US CALL YOU</a>
						</div>

					</div>

				</div>

				<center class="iconenter">
					<div class="chevron">
						<a href="#footer"><i class="fas fa-angle-down"></i></a>
					</div>
				</center>

				<div class="col-md-6">
					<img src="~/content/EO_landing_pages/images/branded-domain.png" class="img-fluid margin-top" alt="branded ticket site">
				</div>
			</div>
		</div>
	</div>
</section>

<section id="platform">
	<div class="container">

		<div class="row row1">
			<div class="col-md-6">
				<div class="box9">
					<center><img class="cardimg" src="~/content/EO_landing_pages/images/vectors/tracking.svg" alt="branded event tracking"></center>
				</div>
				<h3>Tracking, analytics, and scripts</h3>
				<p class="para2">Apply any 3rd party scripts to your events domain. Track your page's analytics, integrate own sign-up forms and collect your own data for remarketing.  </p>
			</div>
			<div class="col-md-6">
				<div class="box9">
					<center><img class="cardimg" src="~/content/EO_landing_pages/images/vectors/branded-domain.svg" alt="branded online event"></center>
				</div>
				<h3>Exclusive branding</h3>
				<p class="para2">Your customers can make purchases exclusively for your event, download tickets and view their dashboard while saying in your event's branded ecosystem.</p>
			</div>
		</div>
		<div class="row row1">
			<div class="col-md-6">
				<div class="box9">
					<center><img class="cardimg" src="~/content/EO_landing_pages/images/vectors/vanity-url.svg" alt="event vanity url"></center>
				</div>
				<h3>Vanity URL</h3>
				<p class="para2">Choose your own subdomain name so your customers can easily remember where to buy tickets.</p>
			</div>
			<div class="col-md-6">
				<div class="box9">
					<center><img class="cardimg" src="~/content/EO_landing_pages/images/vectors/ticket.svg" alt="branded tickets"></center>
				</div>
				<h3>Custom Tickets</h3>
				<p class="para2">Add your own event artwork, sponsors logos, venue maps or wording to your custom built tickets. The options are endless. </p>
			</div>


		</div>
		<div class="row row1">

			<div class="col-md-4 offset-md-4">
				<a href="/Eventorganisers/Register2" class="click3">LET US CALL YOU</a>
			</div>


		</div>
	</div>
</section>



<section id="video">

	<div class="container">

		<div class="row ">
			<div class="col-md-6">
				<h1><br>Brand loyalty means more ticket sales</h1>
				<p class="para">
					When selling tickets on your own branded domain, your customers experience a seamless, branded transitions. This removes anxiety when purchasing tickets because your customers have built a relationship with your brand which in turn increases the chances of a website visit converting to a sale.
				</p>
				<div class="row ">
					<div class="col-md-6">
						<a href="/Eventorganisers/Register2" class="click3">LET US CALL YOU</a>
					</div>

				</div>
			</div>
			<div class="col-md-6">
				<div id="demo" class="carousel slide" data-ride="carousel">
					<!-- The slideshow -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<center><img class="big" src="~/content/EO_landing_pages/images/flow.gif" alt="Ticketing and cashless software and hardware"></center>
						</div>


						<Br><Br>
					</div>
					<!-- Left and right controls -->
				</div>

			</div>
		</div>






	</div>

</section>





<section id="cards1">
	<div class="container">


		<h2 class="text-center heading">Other Branded Services</h2>
		<div class="row slidermfk">

			<div class="col-md-12">
				<div class="card">

					<div class="imagein">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/qr-code.svg" alt="Qr code ticket"></center>
					</div>
					<h3 class="card-title text-center card-title1">Sell ticket<br> online</h3>
					<div class="card-body">

						<p class="card-text text-center card-text2">
							Sell tickets online and validate them at your event using an android phone
						</p>
						<hr>
						<ul class="list2">
							<li><i class="fa fa-check"></i> <span>Lowest Industry Rates</span></li>
							<li><i class="fa fa-check"></i> <span> Quick Setup & Sell</span></li>
							<li><i class="fa fa-check"></i> <span>Quick Payout</span></li>
							<li><i class="fa fa-check"></i> <span>Generate revenue now</span></li>
							<li><i class="fa fa-check"></i> <span>Ticket Validation</span></li>
							<li><i class="fa fa-check"></i> <span>Full reporting</span></li>
						</ul>
						<a href="/Home/TicketingExplanation" class="click4">Find out more</a>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="card">

					<div class="imagein">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/ticket.svg" alt="printed ticket"></center>
					</div>
					<h3 class="card-title text-center card-title1">Sell tickets<br> at your venue</h3>
					<div class="card-body">

						<p class="card-text text-center card-text2">
							Track your sales, reduce theft and print tickets using your  laptop
						</p>
						<hr>
						<ul class="list2">
							<li><i class="fa fa-check"></i> <span>Lowest Industry Rates</span></li>
							<li><i class="fa fa-check"></i> <span>Low-cost ticket printing</span></li>
							<li><i class="fa fa-check"></i> <span>Quick Setup & Sell</span></li>
							<li><i class="fa fa-check"></i> <span>Quick Payout</span></li>
							<li><i class="fa fa-check"></i> <span>Ticket Validation</span></li>
							<li><i class="fa fa-check"></i> <span>Full reporting</span></li>
						</ul>
						<a href="~/Home/BoxOffice" class="click4">Find out more</a>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="card">

					<div class="imagein">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/cashless.svg" alt="Cashless events"></center>
					</div>
					<h3 class="card-title text-center card-title1">Cashless<br>services</h3>
					<div class="card-body">

						<p class="card-text text-center card-text2">
							Make secure cashless transactions with your android phone
						</p>
						<hr>
						<ul class="list2">
							<li><i class="fa fa-check"></i> <span>Lowest Industry Rates</span></li>
							<li><i class="fa fa-check"></i> <span>PIN protected wristbands</span></li>
							<li><i class="fa fa-check"></i> <span>Anytime top-up</span></li>
							<li><i class="fa fa-check"></i> <span>Anytime Cash-out</span></li>
							<li><i class="fa fa-check"></i> <span>Bar &amp; vendor reports</span></li>
							<li><i class="fa fa-check"></i> <span>POS integration</span></li>
						</ul>
						<a href="~/Home/MiiFundsExplanation" class="click4">Find out more</a>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="card">

					<div class="imagein">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/branded-tickets.svg" alt="Sell branded tickets"></center>
					</div>
					<h3 class="card-title text-center card-title1">Branded<br>experience</h3>
					<div class="card-body">

						<p class="card-text text-center card-text2">
							Make sales on your own branded subdomain<br>&nbsp;
						</p>
						<hr>
						<ul class="list2">
							<li><i class="fa fa-check"></i> <span>Lowest Industry Rates</span></li>
							<li><i class="fa fa-check"></i> <span>Free Setup</span></li>
							<li><i class="fa fa-check"></i> <span>Custom branded domain</span></li>
							<li><i class="fa fa-check"></i> <span> Quick Setup & Sell</span></li>
							<li><i class="fa fa-check"></i> <span>Custom tickets</span></li>
							<li><i class="fa fa-check"></i> <span>Vanity URL</span></li>


						</ul>
						<a href="~/Home/BrandedExperience" class="click4">Find out more</a>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>

<section id="footer">
	<div class="container">
		<h2 class="text-center heading1">Used by</h2>
		<div class="row row2">
			<div class="col-md-4  col-4 col1">
				<img src="~/content/EO_landing_pages/images/logo-gardener.png" class="img-fluid" alt="Mi-id existing customer">
			</div>
			<div class="col-md-4 col-4 col1">
				<img src="~/content/EO_landing_pages/images/logo-nwu.png" class="img-fluid" alt="Mi-id existing customer">
			</div>
			<div class="col-md-4  col-4 col1">
				<img src="~/content/EO_landing_pages/images/logo-city.png" class="img-fluid" alt="Mi-id existing customer">
			</div>
		</div>
	</div>
</section>


