
@{
	ViewBag.Title = "FAQ";


}

<title>Privacy policy for Mi-id Online Ticketing and Cashless Services </title>



<meta name="description" content="Mi-id's Privacy Policy and Terms" />

<meta property="og:image" content="https://www.miid.co.za/Uploads/genric.png" />
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<p>
				<h1>Terms & Conditions </h1>
				<b>1. About us </b>
				<br>
				<br>
				Welcome to MiiD.co.za. If you are unsure about any terms and conditions detailed below, please feel free to contact us at info@miid.co.za
				<br>
				<br>
				Miid (Pty) Ltd (Registration Number 2015/335771/07) (the Provider) is the proprietor of www.miid.co.za and owns and operates the website. By accessing and using the website you (the User) agree to be bound by the terms and conditions set out hereunder.
				<br>
				<br>
				2. Electronic Communications
				<br>
				<br>
				By visiting Miid.co.za, the user is interacting with the Provider electronically. We are committed to protecting your private data. We will collate the information which you give to us to provide you with services and personalize your use and visits of this site. We may also use such information to inform you, the user, about changes in the services we offer and/or about features we think you would find of interest.
				<br>
				<br>
				We may use your personal data for the purposes of executing transactions concluded with you, for customer’s services and client administration.
				<br>
				<br>We may also send you information, special offers and advertising via email, SMS, regular newsletters or our once-off promotional offers. We may in addition make available your personal information to the event owners (who may be located inside and/or outside South Africa) in order to enable them to offer their goods and services that they think will interest you. By using our services and by submitting your personal details, you consent to this transfer.
				<br>
				<br>
				If you do not want to receive the information as set above then please send an e-mail to us at info@miid.co.za or amend your profile on the MiiD site.
				<br>
				<br>
				<b>
					3. E-Commerce and Privacy
				</b>
				<br>
				<br>
				A Third party payment gateway will be used to process payments. The User will be re-directed to the third party’s payment gateway. Terms of your relationship with the Third party payment gateway are set out in separate terms that will be presented by the Third party. The private information required for executing the orders placed through the e-commerce facility (i.e Payfast and Iveri ), namely the user's personal information and credit card details, address and telephone numbers will be kept in the strictest confidence by the Third party and not sold or made known to further parties. Only the necessary information, that is, the delivery address and contact phone number, will be made known to further parties delivering the product.
				<br>
				<br>
				The provider and the third party payment gateway undertakes that it has taken all reasonable precautions to secure the credit card processing that is carried out to receive payment for goods sold. The Provider cannot be held responsible for security breaches occurring on the user's electronic device (personal computer or other electronic device used to browse the website), which may result due to the lack of adequate virus protection software or spyware that the User may inadvertently have installed on his/her device. The user may visit the website without providing any personal information. The website servers will in such instances collect the IP address of the user computer, but not the email address or any other distinguishing information. This information is aggregated to measure the number of visits, average time spent at the website, pages viewed, etc. The provider uses this information to determine use of the Website, and to improve content thereon. The provider assumes no obligation to protect this information, and may copy, distribute or otherwise use such information without limitation. For the purpose of this clause, "personal information" shall be defined as detailed in the Promotion of Access to Information Act 2 of 2000 (PAIA). The PAIA may be downloaded from: http://www.polity.org.za/attachment.php?aa_id=3569.
				<br>
				<br>
				<b>4 Purchase Policy</b>
				<br>
				<br>
				MiiD sells tickets on behalf of promoters, teams, bands and venues. Policies set forth by our clients, such as venues, teams and theatres, prohibit us from issuing exchanges or refunds after a purchase has been made or for lost, stolen, damaged or destroyed tickets. When you receive your tickets, please keep them in a safe place. Occasionally, events are cancelled or postponed by the promoter, team, performer or venue for a variety of reasons. If the event is cancelled, please contact us for information on whether you are entitled to receive a refund from the responsible party.
				<br>
				<br>
				The Provider cannot be held liable for fraudulent transactions due to unauthorized use of the user’s personal information ,credit card details or login credentials, occurring on the providers site.
				<br>
				<br>
				It is up to you, the customer to ensure that the event is actually taking place. Mi-id cannot be held responsible for ticket purchases and refunds for events that do not take place. Mi-id provides a service to event organisers to collect the proceeds of the sale of tickets and once the sale has taken place the proceeds are handed over to the organisers of the event. Never purchase tickets for events or event organisers you do not know or trust.
				<br>
				<b>5. Ticket Terms and Conditions</b>
				<br>
				<br>
				5.1. As an authorised ticket agent, MiiD sells tickets on behalf of the venue, promoter or producer that produces the event for which you buy a ticket. We refer to the venue, promoter, or producer from whom we obtain tickets to sell to you as our "Event Partner". Unlawful resale (or attempted unlawful resale) of a ticket is grounds for seizure or cancellation of that ticket without refund or other compensation.
				<br>
				<br>
				5.2. It is your responsibility to ascertain whether an event has been cancelled and the date and time of any rearranged event. If an event is cancelled or rescheduled, we will use reasonable endeavours to notify ticket holders of the cancellation once we have received the relevant authorisation from the Event Partner. We do not guarantee that ticket holders will be informed of such cancellation before the date of the event.
				<br>
				<br>
				5.3. It is your responsibility to check your tickets. While we try and ensure that all prices on our website are accurate, errors may occur. If we discover an error in the price of tickets you have ordered, we will inform you as soon as possible and give you the option of reconfirming your order at the correct price (and credit or debit your account as applicable) or cancelling your order. If we are unable to contact you, you agree that we may treat the order as cancelled. If you choose to cancel after you have already paid the incorrect ticket price for the tickets, you will receive a full refund from the applicable party. .
				<br>
				<br>
				5.4. This ticket is issued subject to the Rules and Regulations of the venue and Event Partner. The venue reserves the right to refuse admission should patrons breach any Rules and Regulations of the venue or Event Partner. The venue may on occasions have to conduct security searches to ensure the safety of the patrons.
				<br>
				<br>
				5.5. Every effort to admit latecomers will be made at a suitable break in the event, but admission cannot always be guaranteed.
				<br>
				<br>
				5.6. Tickets are sold subject to the venue or Event Partner's right to alter or vary the programme due to events or circumstances beyond its reasonable control without being obliged to refund monies or exchange tickets.
				<br>
				<br>
				5.7. The venue, Event Partner and MiiD accept no responsibility for any personal property.
				<br>
				<br>
				5.8. Neither the venue, the Event Partner nor MiiD shall have any further liability beyond the face value of the ticket purchased. Booking and admin fee will still be applicable as a service has been rendered.
				<br>
				<br>
				5.9 Miid reserves the right to levy reasonable banking charges / administrative charges where applicable, payable by the user.
				<br>
				<br>
				6. Updating of these Terms and Conditions The provider reserves the right to change, modify, add to or remove portions or the whole of these Terms and Conditions from time to time. Changes to these Terms and Conditions will become effective upon such changes being posted to this website. It is the user's obligation to periodically check these Terms and Conditions at the website for changes or updates. The user's continued use of this website following the posting of changes or updates will be considered notice of the user's acceptance to abide by and be bound by these Terms and Conditions, including such changes or updates. <br>
				<br>
				<br>
				7. Copyright and Intellectual Property Rights The provider provides certain information on the website. Content currently or anticipated to be displayed at this website is provided by the provider, its affiliates and/or subsidiary, or any other third party owners of such content, and includes but is not limited to Literary Works, Musical Works, Artistic Works, Sound Recordings, Cinematograph Films, Sound and Television Broadcasts, Program-Carrying Signals, Published Editions and Computer Programs ("the Content"). All such proprietary works, and the compilation of the proprietary
				works, are copyright of the Provider, its affiliates or subsidiary, or any other third party owner of such rights ("the Owners"), and is protected by South African and international copyright laws. The providers reserve the right to make any changes to the website, the content, or to products and/or services offered through the website at any time and without notice. All rights in and to the content is reserved and retained by the owners. Except as specified in these Terms and Conditions, the user is not granted a license or any other right including without limitation under Copyright, Trademark, Patent or other Intellectual Property Rights in or to the content.
				<br>
				<br>
				8. Limited Licence to General Users The provider grants to the user, subject to the further terms of these Terms and Conditions, a non-exclusive, non-transferable, limited and revocable right to access, display, use, download and otherwise copy the current and future Content for personal, non-commercial and information purposes only. This website and the content may not be reproduced, duplicated, copied, resold, visited or otherwise exploited for any commercial purpose without the express prior written consent of the provider. The license does not allow the User to collect product or service listings, descriptions or other information displayed here, and does not allow any derivative use of this website or the content for the benefit of another merchant. The user may not frame nor use framing technologies to enclose the provider website or the content nor any part thereof without the express written consent of the provider. The provider and the owners do not offer products or services to minors. If you are under the age of 18, you may not respond to or otherwise accept or act upon any offers in the website. The provider and the owners, their affiliates or subsidiary reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders in their sole discretion. Any unauthorised use terminates this license.
				<br>
				<br>
				9. Limitation of Liability The website and all content on the website, including any current or future offer of products or services, are provided on an "as is" basis, and may include inaccuracies or typographical errors. The owners make no warranty or representation as to the availability, accuracy or completeness of the content. Neither the provider nor any holding company, affiliate or subsidiary of the provider, shall be held responsible for any direct or indirect special, consequential or other damage of any kind whatsoever, suffered or incurred relating to the use of, or the inability to access or use the content or the website, any functionality thereof or any linked website, even if the provider is expressly advised thereof.
				<br>
				<br>
				10. Reviews, Comments, Emails, and Other Content If you visit and/or purchase from MiiD, including its social media accounts, you may post reviews, comments, and other content, and submit suggestions, ideas, comments,
				questions, or other information, so long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing upon intellectual property rights, or otherwise injurious to third parties or objectionable, and does not consist of, or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of “spam.” You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of a card or other content. MiiD reserves the right (but not the obligation) to remove or edit such content, but does not regularly review posted content. If you do post content or submit material, and unless we indicate otherwise, you grant MiiD and its associates a nonexclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media. You grant Miid and its associates and sublicensees the right to use the name that you submit in connection with such content, if they choose. You represent and warrant that you own or otherwise control all of the rights to the content that you post, that the content is accurate, that use of the content you supply does not violate this policy and will not cause injury to any person or entity, and that you will indemnify Miid and/or its associates for all claims resulting from content you supply. Miid has the right, but not the obligation, to monitor and edit or remove any activity or content. Miid takes no responsibility and assumes no liability for any content posted by you or any third party.
				<br>
				<br>
				11. Choice of Law This website is controlled, operated and administered by the provider from its offices within the Republic of South Africa. Access to the website from territories or countries where the content or purchase of the products sold on the website is illegal, is prohibited. If the user accesses this website from locations outside of South Africa, that user is responsible for compliance with all local laws. These Terms and Conditions shall be governed by the laws of the Republic of South Africa, and the user consents to the jurisdiction of the Cape Town High Court in the event of any dispute. If any of the provisions of these Terms and Conditions are found by a court of competent jurisdiction to be invalid or unenforceable, that provision shall be enforced to the maximum extent permissible so as to give effect to the intent of these Terms and Conditions, and the remainder of these Terms and Conditions shall continue in full force and effect. These Terms and Conditions constitute the entire agreement between the provider and the user with regard to the use of the content and this website. 12. Pre-paid electronic Wallet Account
				<br>
				<br>
				12.1 The Available Balance on your Pre-paid electronic Wallet Account will not earn any interest.
				<br>
				<br>
				12.2 The Pre-paid electronic Wallet Account is a payment services and not a credit or bank product, the end-user must therefore ensure that he/she has a sufficient Available Balance to pay for each transaction that he/she makes using the Payment Services (including value added tax and any other taxes, charges or fees that may be applicable).
				<br>
				<br>
				12.3 The value of each Transaction will be deducted from the Available Balance. In terms of the agreement above, once consent has been provided by the user, the Transaction in
				terms of the users Pre-paid electronic Wallet Account cannot be revoked and for this purpose the time of receipt of the user’s consent to the payment order is the time when the user confirms the Transaction in his/her Pre-paid electronic Wallet Account or to the Third party payment gateway Customer Care Team where required to do so.
				<br>
				<br>
				12.4 Where the user gives consent for a series of recurring Transactions (such as a standing order) on the user’s Pre-paid electronic Wallet Account, his/her consent for each such Transaction will be deemed to be received on the day agreed for that Transaction. The user can only revoke a recurring Transaction up until the end of the Business Day preceding the agreed day for payment. At the time the user revokes a recurring Transaction, his/her consent for future Transactions in that series will also be withdrawn.
				<br>
				<br>
				13. Contact Information Office Address: Tell: Email: info@miid.co.za
			</p>

		</div>
	</div>
</div>