
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutNoNav.cshtml";
}


<!-- Main -->


<section id="">

    <div class="container">
        <div class="form_wrapper">
            <h1>ForgotPassword</h1>
            <p>
                Please email your name, surname & ID Number to: <strong><a href="mailto:support@miid.co.za?Subject=Fogot_password" target="_top">support@miid.co.za</a></strong>
            </p>
        </div>
        </div>
</section>

