


@model MiidWeb.Models.LoginViewModel
@{
	ViewBag.Title = "MiiD Event Organiser Landing Page";

	Layout = MiidWeb.Repositories.TicketRepository.GetLayoutFile("LayoutLanding");

}

<meta property="og:image" content="https://www.miid.co.za/Uploads/genric.png" />

<title>Affordable online ticket sales & cashless events</title>
<meta name="description" content="Sell tickets online quickly and easily or host cashless events with the lowest industry rates. Set up an event and start generating revenue now." />

<section id="navigation">

	<div class="box1">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1><br>Cost-effective online ticket sales & cashless events</h1>
					<p>Now you can easily sell tickets online or host cashless events with our innovative event ticketing and cashless platform that is designed with you in mind to help make your event a success.</p>
					<div class="row mar">
						<div class="col-md-6">
							<a href="~/Eventorganisers/Register2" class="click">LET US CALL YOU</a>
						</div>

					</div>
				</div>

				<center class="iconenter">

				</center>

				<div class="col-md-6">
					<div class="text-center">
						<img src="~/content/EO_landing_pages/images/phone-ticket-screen.png" class="image" alt="Mi-id online ticketing and cashless app">
						<img src="~/content/EO_landing_pages/images/phone-ticket-screen.png" class="image5" alt="Mi-id online ticketing and cashless app">
						<div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="cards">
	<div class="container">
		<div class="row" id="product">


			<div class="col-md-4">
				<div class="card card1">
					<h3 class="card-title text-center">Cost Effective</h3>
					<div class="imagein1">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/vectors/save.svg" alt="Card image" alt="Save on ticekting costs icon"></center>
					</div>
					<div class="card-body">

						<p class="card-text text-center">Get the lowest rates for online ticket sales & cashless events in South Africa.</p>

					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card1">
					<h3 class="card-title text-center">Quick & Easy</h3>
					<div class="imagein1">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/vectors/setup.svg" alt="Quick sign up on ticekting and cashless events"></center>
					</div>
					<div class="card-body">

						<p class="card-text text-center">Sign up and start selling. No waiting periods or lengthy sign-up processes.</p>

					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card1">
					<h3 class="card-title text-center">Direct Support</h3>
					<div class="imagein1">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/vectors/support.svg" alt="Quality support for online ticketing and cashless services"></center>
					</div>
					<div class="card-body">

						<p class="card-text text-center">We work with you to implement our services from the moment you sign-up. </p>

					</div>
				</div>
			</div>


		</div>
	</div>
</section>



<section id="setup">
	<div class="box2 boxbg">
		<div class="container">

			<div class="row ">
				<div class="col-md-6">
					<h1><br>All-in-one <br>event solution </h1>
					<p class="para">
						Get everything you need in one place. Our event management software lets you set up, sell, monitor and track everything you need on one dashboard.
					</p>
					<div class="row row1">
						<div class="col-md-6">
							<a href="~/Eventorganisers/Register2" class="click3">LET US CALL YOU</a>
						</div>

					</div>
				</div>
				<div class="col-md-6">
					<div id="demo" class="carousel slide" data-ride="carousel">




						<!-- The slideshow -->
						<div class="carousel-inner">
							<div class="carousel-item active">
								<center><img class="big" src="~/content/EO_landing_pages/images/car-1.png" alt="Ticketing and cashless software and hardware"></center>

							</div>

							<div class="carousel-item">
								<center><img class="big" src="~/content/EO_landing_pages/images/car-2.png" alt="Ticket selling and cashless top-ip platform"></center>

							</div>
							<div class="carousel-item">
								<center><img class="big" src="~/content/EO_landing_pages/images/car-3.png" alt="Box office venue ticket printer"></center>

							</div>

						</div>

						<!-- Left and right controls -->

					</div>

				</div>
			</div>






		</div>
	</div>
</section>

<section id="cards1">
	<div class="container">


		<h2 class="text-center heading">What's in it for you</h2>
		<div class="row slidermfk">

			<div class="col-md-12">
				<div class="card">

					<div class="imagein">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/qr-code.svg" alt="Qr code ticket"></center>
					</div>
					<h3 class="card-title text-center card-title1">Sell tickets<br> online</h3>
					<div class="card-body">

						<p class="card-text text-center card-text2">
							Sell tickets online and validate them at your event using an android phone
						</p>
						<hr>
						<ul class="list2">
							<li><i class="fa fa-check"></i> <span>Lowest Industry Rates</span></li>
							<li><i class="fa fa-check"></i> <span> Quick Setup & Sell</span></li>
							<li><i class="fa fa-check"></i> <span>Quick Payout</span></li>
							<li><i class="fa fa-check"></i> <span> Generate revenue now</span></li>
							<li><i class="fa fa-check"></i> <span> Ticket Validation</span></li>
							<li><i class="fa fa-check"></i> <span> Full reporting</span></li>
						</ul>
						<a href="~/Home/TicketingExplanation" class="click4">Find out more</a>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="card">

					<div class="imagein">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/ticket.svg" alt="printed ticket"></center>
					</div>
					<h3 class="card-title text-center card-title1">Sell tickets<br> at your venue</h3>
					<div class="card-body">

						<p class="card-text text-center card-text2">
							Track your sales, reduce theft and print tickets using your  laptop
						</p>
						<hr>
						<ul class="list2">
							<li><i class="fa fa-check"></i> <span>Lowest Industry Rates</span></li>
							<li><i class="fa fa-check"></i> <span>Low-cost ticket printing</span></li>
							<li><i class="fa fa-check"></i> <span>Quick Setup & Sell</span></li>
							<li><i class="fa fa-check"></i> <span>Quick Payout</span></li>
							<li><i class="fa fa-check"></i> <span>Ticket Validation</span></li>
							<li><i class="fa fa-check"></i> <span>Full reporting</span></li>
						</ul>
						<a href="~/Home/BoxOffice" class="click4">Find out more</a>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="card">

					<div class="imagein">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/cashless.svg" alt="Cashless events"></center>
					</div>
					<h3 class="card-title text-center card-title1">Cashless<br>services</h3>
					<div class="card-body">

						<p class="card-text text-center card-text2">
							Make secure cashless transactions with your android phone
						</p>
						<hr>
						<ul class="list2">
							<li><i class="fa fa-check"></i> <span>Lowest Industry Rates</span></li>
							<li><i class="fa fa-check"></i> <span>PIN protected wristbands</span></li>
							<li><i class="fa fa-check"></i> <span>Anytime top-up</span></li>
							<li><i class="fa fa-check"></i> <span>Anytime Cash-out</span></li>
							<li><i class="fa fa-check"></i> <span>Bar &amp; vendor reports</span></li>
							<li><i class="fa fa-check"></i> <span>POS adaptable</span></li>
						</ul>
						<a href="~/Home/MiiFundsExplanation" class="click4">Find out more</a>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="card">

					<div class="imagein">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/branded-tickets.svg" alt="Sell branded tickets"></center>
					</div>
					<h3 class="card-title text-center card-title1">Branded<br>experience</h3>
					<div class="card-body">

						<p class="card-text text-center card-text2">
							Make sales on your own branded subdomain<br>&nbsp;
						</p>
						<hr>
						<ul class="list2">
							<li><i class="fa fa-check"></i><span>Lowest Industry Rates</span></li>
							<li><i class="fa fa-check"></i> <span>Free Setup</span></li>
							<li><i class="fa fa-check"></i> <span>Custom branded domain</span></li>
							<li><i class="fa fa-check"></i> <span> Quick Setup & Sell</span></li>
							<li><i class="fa fa-check"></i> <span>Custom tickets</span></li>
							<li><i class="fa fa-check"></i> <span>Vanity URL</span></li>


						</ul>
						<a href="~/Home/BrandedExperience" class="click4">Find out more</a>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>

<section id="mi-id">
	<div class="box5">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>From food festival to Stadium events </h1>
					<h3>Our platform is perfect for</h3>
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<ul class="list1">
								<li><a>Clubs</a></li>
								<li><a>Concerts</a></li>
								<li><a>Music Festivals</a></li>
								<li><a>Food Markets</a></li>
								<li><a>Charity Events</a></li>
							</ul>
						</div>
						<div class="col-md-6 col-sm-6">
							<ul class="list1">
								<li><a>Conferences</a></li>
								<li><a>Sporting Events</a></li>
								<li><a>Theatres</a></li>
								<li><a>Camping Sites</a></li>
								<li><a>Stadium Events</a></li>
							</ul>
						</div>
					</div>

					<div class="mobileview">
						<p>Find out how our range of ticketing and cashless services can help your event run smoother, more efficient and cost-effective.</p>
						<div class="row mar">
							<div class="col-md-6">
								<a href="~/Eventorganisers/Register2" class="click">LET US CALL YOU</a>
							</div>

						</div>

					</div>

				</div>
				<div class="col-md-6">
					<div class="box4">
						<div id="demo" class="carousel slide" data-ride="carousel">

							<!-- Indicators -->
							<ul class="carousel-indicators">
								<li data-target="#demo" data-slide-to="0" class="active"></li>
								<li data-target="#demo" data-slide-to="1"></li>
								<li data-target="#demo" data-slide-to="2"></li>
								<li data-target="#demo" data-slide-to="3"></li>
							</ul>

							<!-- The slideshow -->
							<div class="carousel-inner">
								<div class="carousel-item active">
									<center><img src="~/content/EO_landing_pages/images/gal-festival.png" alt="Festival ticket plaform"></center>
									<p class="para1">
										<strong>Festivals</strong><br>

										From music to food festivals. Sell tickets online to avoid lengthy quest and go cashless to reduce the risk of theft and robbery
									</p>
								</div>

								<div class="carousel-item">
									<center><img src="~/content/EO_landing_pages/images/gal-accom.png" alt="accomodation booking plaform"></center>
									<p class="para1">
										<strong>Campsites or Holiday resorts</strong><br>

										Sell tickets over an extended date range and assign multiple tickets to each date.<br>&nbsp;
									</p>
								</div>
								<div class="carousel-item">
									<center><img src="~/content/EO_landing_pages/images/gal-business.png" alt="confernce booking plaform"></center>
									<p class="para1">
										<strong>Conferences</strong><br>

										Easily take payment and keep track of attendees with reporting tools<br>&nbsp;
									</p>

								</div>
								<div class="carousel-item">
									<center><img src="~/content/EO_landing_pages/images/gal-theater.png" alt="theater booking plaform"></center>
									<p class="para1">
										<strong>Theatres</strong><br>

										Create custome seating plans or table layout each with there own price.<br>&nbsp;
									</p>
								</div>

							</div>

							<!-- Left and right controls
							<a class="carousel-control-prev" href="#demo" data-slide="prev">
							  <span class="carousel-control-prev-icon"></span>
							</a>
							<a class="carousel-control-next" href="#demo" data-slide="next">
							  <span class="carousel-control-next-icon"></span>
							</a>
							 -->
						</div>


					</div>


					<div class="mobileview2">
						<p>Find out how our range of xxxx can help your event run smoother, more effecient and cost effective</p>
						<div class="row mar">
							<div class="col-md-6">
								<a href="~/Eventorganisers/Register2" class="click">LET US CALL YOU</a>
							</div>

						</div>

					</div>
				</div>


			</div>
		</div>
	</div>

</section>




<section id="only-text">
	<div class="container">
		<h3 class="text-center">“Blown away by the service we have received”</h3>
		<p class="text-center para2">
			We as Event Ladies have used Mi-id for a number of events and boy have we been blown away by the service we have received from them. They are super helpful with any and everything. It meant a lot to us that they came down to Joburg to help us set up and understand the system at our first event. They are always super professional and make you feel that you count. We love the fact that they are really interested in how our events go and monitor it from their side while the event is happening. We as a company would recommend them to anyone.
		</p>
		<p class="text-center para3">- Michele van Zyl, Event Ladies -</p>
	</div>
</section>

<section id="footer">
	<div class="container">
		<h2 class="text-center heading1">Used by</h2>
		<div class="row row2">
			<div class="col-md-4  col-4 col1">
				<img src="~/content/EO_landing_pages/images//logo-gardener.png" class="img-fluid" alt="Mi-id existing customer">
			</div>
			<div class="col-md-4 col-4 col1">
				<img src="~/content/EO_landing_pages/images/logo-nwu.png" class="img-fluid" alt="Mi-id existing customer">
			</div>
			<div class="col-md-4  col-4 col1">
				<img src="~/content/EO_landing_pages/images/logo-city.png" class="img-fluid" alt="Mi-id existing customer">
			</div>
		</div>
	</div>
</section>
<script>
	$(document).ready(function () {

		$('.add-remove').slick({
			slidesToShow: 3,
			slidesToScroll: 3
		});

		$('.js-add-slide').on('click', function () {
			slideIndex++;
			$('.add-remove').slick('slickAdd', '&lt;div&gt;&lt;h3&gt;' + slideIndex +
				'&lt;/h3&gt;&lt;/div&gt;');
		});

		$('.js-remove-slide').on('click', function () {
			$('.add-remove').slick('slickRemove', slideIndex - 1);
			if (slideIndex !== 0) {
				slideIndex--;
			}
		});

	});
</script>