@using Microsoft.AspNet.Identity

@model MiidWeb.Models.LoginViewModel
@{
	ViewBag.Title = "MiiD Event Organiser Landing Page";
	ViewBag.Title = "Contact";
	Layout = MiidWeb.Repositories.TicketRepository.GetLayoutFile("LayoutLanding");



}
<title>Get affordable cashless solutions for events & festivals.</title>
<meta name="description" content="Get a fully transparent, trackable cashless sollutions for your event. Your customers can top-up and cash-out with no limitations " />
<section id="navigation">

	<div class="box1">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1 class="hd1"><Br>Affordable cashless solutions for events & festivals </h1>

					<p>
						Our affordable cashless solutions allow you to easily & efficiency manage your events funds while saving on costs & reducing the risk of handling cash on-site

					</p>

					<div class="row mar" id="">
						<div class="col-md-6">
							<a href="~/Eventorganisers/Register2" class="click">LET US CALL YOU</a>
						</div>

					</div>

				</div>

				<center class="iconenter">
					<div class="chevron">
						<a href="#footer"><i class="fas fa-angle-down"></i></a>
					</div>
				</center>

				<div class="col-md-6 negative-margin-20 padding-bottom-20">
					<img src="~/content/EO_landing_pages/images/cashless-app.png" class="img-fluid margin-top" alt="cashless event app">
				</div>
			</div>
		</div>
	</div>
</section>

<section id="platform">
	<div class="container">

		<div class="row row1">
			<div class="col-md-6">
				<div class="box9">
					<center><img class="cardimg" src="~/content/EO_landing_pages/images/vectors/save.svg" alt="easy cashless event"></center>
				</div>
				<h3>Going cashless is easy</h3>
				<p class="para2">No need to rent expensive scanning equipment or use specialised POS software. All you need is an NFC enabled Android smartphone and a Mi-id account. </p>
			</div>
			<div class="col-md-6">
				<div class="box9">
					<center><img class="cardimg" src="~/content/EO_landing_pages/images/vectors/cashless-easy.svg" alt="topup cashless event"></center>
				</div>
				<h3>Top-up & Cash out</h3>
				<p class="para2">Your customers can top-up and cash out their cashless wristbands with no limitations. We do not withhold their funds</p>
			</div>
		</div>
		<div class="row row1">
			<div class="col-md-6">
				<div class="box9">
					<center><img class="cardimg" src="~/content/EO_landing_pages/images/vectors/cashout.svg" alt="PIN cashless tag"></center>
				</div>
				<h3>PIN protected Tags</h3>
				<p class="para2">Ensure maximum security for your customers. Users can change set their PIN online or at the event should the need arise. </p>
			</div>
			<div class="col-md-6">
				<div class="box9">
					<center><img class="cardimg" src="~/content/EO_landing_pages/images/vectors/PIN.svg" alt="NFC cashless tag"></center>
				</div>
				<h3>Reusable and replaceable NFC tags</h3>
				<p class="para2">Customers do not need to purchase a new tag for each event. Lost tags? Tags can be replaced without losing funds. </p>
			</div>
		</div>


	</div>
	<div class="row row1">

		<div class="col-md-4 offset-md-4">
			<a href="~/Eventorganisers/Register2" class="click3">LET US CALL YOU</a>
		</div>


	</div>

</section>

<section id="video">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<br>
				<br>
				<h1>Transparent cashless transactions</h1>
				<p class="para3">
					The Mi-id cashless system makes use of a pre-paid, online wallet which is linked to your customer's NFC festival wristband tag. You customers can top up cashless funds online, before & during an event. Making a cashless payment is as simple as scanning the NFC Tag with the Mi-id Cashless App. Tags are PIN protected and your customers can view their transactions or request payouts at any time.

				</p>

			</div>
			<div class="col-md-6">
				<div class="negative-margin-20">

					<img src="../content/EO_landing_pages/images/balance.png" class="img-fluid margin-top" alt="reporting cashless event">

				</div>
			</div>
		</div>
	</div>
</section>

<section id="cards1">
	<div class="container">
		<h2 class="text-center heading">Why Go Cashless?</h2>
		<div class="row">


			<div class="col-md-6 col-lg-3">
				<div class="card">

					<div class="box12">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/check.svg" alt="Cashless saftey"></center>
					</div>
					<h3 class="card-title text-center card-title3">Security & Saftey</h3>
					<div class="card-body">

						<p class="card-text text-center card-text5">Reducing the amount of cash onsite reduces the chance of theft and robbery</p>

					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-3">
				<div class="card">

					<div class="box12">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/check.svg" alt="Cashless costs"></center>
					</div>
					<h3 class="card-title text-center card-title3">Reduce costs</h3>
					<div class="card-body">

						<p class="card-text text-center card-text5">
							Save on cash bank deposits, equipment rental and security costs
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card">

					<div class="box12">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/check.svg" alt="Cashless ques"></center>
					</div>
					<h3 class="card-title text-center card-title3">Shorten Ques</h3>
					<div class="card-body">

						<p class="card-text text-center card-text5">Quick scanning and validation reduces the amount of time spent on the transaction</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card">

					<div class="box12">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/check.svg" alt="Cashless revenue"></center>
					</div>
					<h3 class="card-title text-center card-title3">Track Revenue</h3>
					<div class="card-body">

						<p class="card-text text-center card-text5">
							View sales reports for vendors, bars and staff<br>&nbsp;

						</p>
					</div>
				</div>
			</div>


		</div>
		<div class="row row1">

			<div class="col-md-4 offset-md-4">
				<a href="~/Eventorganisers/Register2" class="click3">LET US CALL YOU</a>
			</div>


		</div>
	</div>
</section>

<div class="box7">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="hd1 ">
					<br>The only truly cashless system for event
				</h1>
				<p class="para3">
					All other cashless systems merely convert paper money into a different form of cash. Mi-id's festival wristbands are pin protected to ensure authorised use and transactions can be monitored by your customer's via their online profile.

				</p>

			</div>
			<div class="col-md-6">
				<div class="box16">
					<img src="~/content/EO_landing_pages/images/balance.png" class="img-fluid" class="cashless transactions">
				</div>
			</div>
		</div>
	</div>
</div>






<section id="cards1">
	<div class="container">


		<h2 class="text-center heading">What's in it for you</h2>
		<div class="row slidermfk">

			<div class="col-md-12">
				<div class="card">

					<div class="imagein">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/qr-code.svg" alt="Qr code ticket"></center>
					</div>
					<h3 class="card-title text-center card-title1">Sell ticket<br> online</h3>
					<div class="card-body">

						<p class="card-text text-center card-text2">
							Sell tickets online and validate them at your event using an android phone
						</p>
						<hr>
						<ul class="list2">
							<li><i class="fa fa-check"></i> <span>Lowest Industry Rates</span></li>
							<li><i class="fa fa-check"></i> <span> Quick Setup & Sell</span></li>
							<li><i class="fa fa-check"></i> <span>Quick Payout</span></li>
							<li><i class="fa fa-check"></i> <span>Generate revenue now</span></li>
							<li><i class="fa fa-check"></i> <span>Ticket Validation</span></li>
							<li><i class="fa fa-check"></i> <span>Full reporting</span></li>
						</ul>
						<a href="~/Home/TicketingExplanation" class="click4">Find out more</a>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="card">

					<div class="imagein">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/ticket.svg" alt="printed ticket"></center>
					</div>
					<h3 class="card-title text-center card-title1">Sell tickets<br> at your venue</h3>
					<div class="card-body">

						<p class="card-text text-center card-text2">
							Track your sales, reduce theft and print tickets using your  laptop
						</p>
						<hr>
						<ul class="list2">
							<li><i class="fa fa-check"></i> <span>Lowest Industry Rates</span></li>
							<li><i class="fa fa-check"></i> <span>Low-cost ticket printing</span></li>
							<li><i class="fa fa-check"></i> <span>Quick Setup & Sell</span></li>
							<li><i class="fa fa-check"></i> <span>Quick Payout</span></li>
							<li><i class="fa fa-check"></i> <span>Ticket Validation</span></li>
							<li><i class="fa fa-check"></i> <span>Full reporting</span></li>
						</ul>
						<a href="~/Home/BoxOffice" class="click4">Find out more</a>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="card">

					<div class="imagein">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/cashless.svg" alt="Cashless events"></center>
					</div>
					<h3 class="card-title text-center card-title1">Cashless<br>services</h3>
					<div class="card-body">

						<p class="card-text text-center card-text2">
							Make secure cashless transactions with your android phone
						</p>
						<hr>
						<ul class="list2">
							<li><i class="fa fa-check"></i> <span>Lowest Industry Rates</span></li>
							<li><i class="fa fa-check"></i> <span>PIN protected wristbands</span></li>
							<li><i class="fa fa-check"></i> <span>Anytime top-up</span></li>
							<li><i class="fa fa-check"></i> <span>Anytime Cash-out</span></li>
							<li><i class="fa fa-check"></i> <span>Bar &amp; vendor reports</span></li>
							<li><i class="fa fa-check"></i> <span>POS integration</span></li>
						</ul>
						<a href="~/Home/MiiFundsExplanation" class="click4">Find out more</a>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="card">

					<div class="imagein">
						<center><img class="cardimg" src="~/content/EO_landing_pages/images/Vectors/branded-tickets.svg" alt="Sell branded tickets"></center>
					</div>
					<h3 class="card-title text-center card-title1">Branded<br>experience</h3>
					<div class="card-body">

						<p class="card-text text-center card-text2">
							Make sales on your own branded subdomain<br>&nbsp;
						</p>
						<hr>
						<ul class="list2">
							<li><i class="fa fa-check"></i> <span>Lowest Industry Rates</span></li>
							<li><i class="fa fa-check"></i> <span>Free Setup</span></li>
							<li><i class="fa fa-check"></i> <span>Custom branded domain</span></li>
							<li><i class="fa fa-check"></i> <span> Quick Setup & Sell</span></li>
							<li><i class="fa fa-check"></i> <span>Custom tickets</span></li>
							<li><i class="fa fa-check"></i> <span>Vanity URL</span></li>


						</ul>
						<a href="~/Home/BrandedExperience" class="click4">Find out more</a>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>
