@model MiidWeb.Models.LoginViewModel
@{
    ViewBag.Title = "Custom white label software sollution";


}
<style>
    .orange-background {
        background-color: #fbaa19;
        padding-top: 20px;
        padding-bottom: 60px;
        ;
        color: #ffffff;
    }

    .grey-background {
        background-color: #efefef;
        padding-top: 40px;
        padding-bottom: 60px;
        ;
    }

    .white-background {
        background-color: #ffffff;
        padding-top: 40px;
        padding-bottom: 80px;
        ;
        ;
    }

    .smallhr {
        background-color: #fbaa19;
        height: 4px;
        border: 4px solid ##fbaa19;
        width: 15%;
    }
</style>
<title>Mi-iD Custom event ticketing software. Create events, sell tickets and host cashless services on your own website.</title>
<meta name="description" content="Custom event software solution. Sell tickets. Run cashless services. Bespoke software development" />

<!-- Page Features -->
<div class="row text-center bg-grey" style="padding:40px;">
	<br><br>
	<div class="col-md-offset-4 col-md-4"><img src="~/Content/images/newimages/ticket1.svg" alt="online tickets" style="width:20%" /></div>

	<div class="col-lg-12 col-md-12 mb-12 text-center ">
		<div class="">

			<h1>White label online ticketing  solutions & software</h1>
			<p class="lead" style="margin-left:20px; margin-right:20px;">
				Custom made  ticketing solutions that allow you to sell tickets to your event easily and efficiently        


			</p>
			<div class="smallhr"></div>
			<br><br>


		</div>
	</div>
	<div class="col-lg-4 col-md-4 mb-4">
		<div class="card" style="min-height:270px;">
			<div class="card-img-top"><i class="fas fas fa-piggy-bank fa-3x" aria-hidden="true"></i></div>
			<div class="card-body">
				<h4 class="card-title">White label ticketing software  </h4>
				<p class="card-text">From event planners to transport companies. Find out how we can develop white label ticketing software that best fits your needs. </p>
			</div>
			<div class="card-footer">

			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 mb-4">
		<div class="card" style="min-height:270px;">
			<div class="card-img-top"><i class="fas fa-dollar-sign fa-3x" aria-hidden="true"></i></div>
			<div class="card-body">
				<h4 class="card-title">Customer Support</h4>
				<p class="card-text">Get the full backing of the Mi-id support team included for your event.<br><br></p>
			</div>
			<div class="card-footer">

			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 mb-4">
		<div class="card" style="min-height:270px;">
			<div class="card-img-top"><i class="fa fas fa-exchange-alt fa-3x" aria-hidden="true"></i></div>
			<div class="card-body">
				<h4 class="card-title">Cut down costs</h4>
				<p class="card-text">Developing ticket software from scratch is expensive and takes large amounts of resources which all cost money. Get the benefits of using existing software that is tried and tested.            </p>
			</div>
			<div class="card-footer">

			</div>
		</div>
	</div>

	<br>
	<br>



</div>


<!--second section----->
<!-- Page Features -->
<div class="row text-center" style="padding:40px;">

	<div class="col-lg-12 col-md-12 mb-12 text-center ">

		<div class="">

			<h2> 100% your brand</h2>

			<p class="lead" style="margin-left:20px; margin-right:20px;">
				Custom built online ticketing software you can give your customers a fully branded experience building trust and growing your brand                   


			</p>
			<div class="smallhr"></div>
			<br><br>

		</div>
		<!-- Page Features -->
		<div class="row text-center" style="padding:45px;">
			

			<div class="col-lg-2 col-md-2">
				<div class="">
					<div class="card-img-top"><i class="fa fa-music fa-5x" aria-hidden="true"></i></div>
					<div class="card-body">
						<h4 class="card-title">Clubs</h4>
					</div>

				</div>
			</div>

			<div class="col-lg-2 col-md-2">
				<div class="">
					<div class="card-img-top"><i class="fa fa-microphone fa-5x" aria-hidden="true"></i></div>
					<div class="card-body">


						<h4 class="card-title">Concerts</h4>
					</div>

				</div>
			</div>

			<div class="col-lg-2 col-md-2">
				<div class="">
					<div class="card-img-top"><i class="fa fa-headphones fa-5x" aria-hidden="true"></i></div>
					<div class="card-body">
						<h4 class="card-title">Music Festivals</h4>
					</div>

				</div>
			</div>

			<div class="col-lg-2 col-md-2">
				<div class="">
					<div class="card-img-top"><i class="fas fa-utensils fa-5x" aria-hidden="true"></i></div>
					<div class="card-body">
						<h4 class="card-title">Food Festivals </h4>
					</div>

				</div>
			</div>
			<div class="col-lg-2 col-md-2">
				<div class="">
					<div class="card-img-top"><i class="fa fa-sticky-note fa-5x" aria-hidden="true"></i></div>
					<div class="card-body">
						<h4 class="card-title">Conferences </h4>
					</div>

				</div>
			</div>

			<div class="col-lg-2 col-md-2">
				<div class="">
					<div class="card-img-top"><i class="fa fa-futbol-o fa-5x" aria-hidden="true"></i></div>
					<div class="card-body">
						<h4 class="card-title">Sporting Events</h4>
					</div>

				</div>
			</div>
			<div class="col-lg-12 col-md-12 mb-12 text-center ">
				<div class="">

					<h3>Mi-id’s white label ticketing options can be used for any event</h3>
					
				</div>
			</div>


		</div>

	</div>
	

	

	

	<br>
	<br>



</div>
<div class="row text-center bg-grey" style="padding:40px;">

	
	<div class="col-lg-4 col-md-4 mb-4">
		<div class="card">
			<div class="card-img-top"><i class="fa fa-check-circle fa-3x" aria-hidden="true"></i></div>
			<div class="card-body">
				<h4 class="card-title">Lowest Rates</h4>
				<p class="card-text">
					Cost effective white label solutions at a price that suits you.<br><br>
				</p>
			</div>
			<div class="card-footer">

			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 mb-4">
		<div class="card">
			<div class="card-img-top"><i class="fa fa-check-circle fa-3x" aria-hidden="true"></i></div>
			<div class="card-body">
				<h4 class="card-title">On Site Support</h4>
				<p class="card-text">
					Your success is our success. We will be there on event day to assist with your event <br><br>
				</p>
			</div>
			<div class="card-footer">

			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-4 mb-4">
		<div class="card">
			<div class="card-img-top"><i class="fa fa-check-circle fa-3x" aria-hidden="true"></i></div>
			<div class="card-body">
				<h4 class="card-title">Marketing assistance</h4>
				<p class="card-text">
					Get assistance driving ticket sales and generating revenue
				</p>
			</div>
			<div class="card-footer">

			</div>
		</div>
	</div>

	<br>
	<br>



</div>
<div class="row text-center">
	<div class="col-md-12">

		<br>
		<a href="~/Account/Register" class="btn btn-default  btn-lg" style="margin-top:10px">Start Selling Tickets</a>

		<a href="~/Eventorganisers/Register2" class="btn btn-info  btn-lg" style="margin-top:10px">Request a callback</a>
		<br><br>

	</div>
</div>

