
<!DOCTYPE HTML>
<html>
<head>
<title>MiiD | Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name ="description" content ="MiiD">
<meta name="keywords" content="">
<link rel="stylesheet" href="../../content/css/main.css" type="text/css">
<link rel="shortcut icon" href="images/icon.png?v=2" type="image/x-icon" />






</head>



<body>

<div class="header">
                       
                        <div class="header_wrapper">
                               
                                        <div class="header_container_left">
                                        
                                       <img src="../../content/images/logo.png" alt=" miiImage" class="logo" />
												<ul class="drop_menu">
														<li><img src="../../content/images/drop_menu.png" alt=" miiImage" class="logo" />
															<ul>
																<li><a href='#'>About</a></li>
																<li><a href='#'>Services</a></li>
																<li><a href='#'>FAQ's</a></li>
																<li><a href='#'>Help</a></li>
																
															</ul>
														</li>
				
				
												</ul>
										
                                        
                                        
                                         </div>
                                         
                                         
                                         
                             
                             </div>
                            

</div>



  <!--  first section picture & form -->

<div class="firstsection">

			<!-- opaque wrapper -->
						<div class="wrapper">

			 
			                    
 
 <div class="form_wrapper">
 <!-- starat banner -->
								 <div class="logging_banner">
										<img src="../../content/images/registration_banner.jpg" name="slide" border="0" width="850px" height="230px">		
											
								   </div>

									 <!-- close banner -->
 
 
               <div class="form_container">
               <div   class="register_heading"> Your almost there!!! </div>
               <div   class="register_text"> Get your passport to a quick & easy way to set up, buy event tickets,
                share events with friends and gain access to the hottest news in the music festival and concert world.
                Once we have recieved this infomation 
									we will drop you a email with your log-in details
                
               </div>
              
               
               
               
               
              
								
                      
               
               
               
               
                        <div class="right_container_form_second_reg">
									<form action="" method="post" id="EndUser">
									
									
									
									
									
									                <div class="form_heading">Details:</div>
													<input type="text" id="Firstname" class="input_registration" placeholder="First Name">
											        <input type="text" id="Surname" class="input_registration" placeholder="Last Name">
											        <input type="text" id="Telephone" class="input_registration" placeholder="Contact Number"> 
											        <input type="text" id="Cell" class="input_registration" placeholder="Cellphone Number"> 

											        <div class="check_box"> 
											        Male	
											        <input type="checkbox" id="Sex" value="male" class="input_oraniser_sex" >
											        Female
											        <input type="checkbox" id="Sex" value="female"  class="input_oraniser_sex">
											        </div>
													<select name="birdthday" id="RaceID" class="input_registration_drop">
													<option value="African">African</option>
													<option value="Caucasian">Caucasian</option>
													<option value="Coloured">Coloured</option>
													<option value="Indian">Indian</option>
													<option value="Other">Other</option>
													<option value="Not specified">Not specified</option>
													
													
													
													<option value="3"></option>
													
				
													</select>

													<div class="register_newsletter_text">This is purely for statistical information. If you do not feel comfortable stating your  race please click "not specified"</div>

                                        			<input type="text" id="ID" placeholder="ID Number" class="input_registration">

                                                      <div class="registration_text_one">Date of Birth</div>
													<select  id="DateOfBirth" class="input_oraniser_birthday">
													<option value="0">Date</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="7">8</option>
													<option value="7">9</option>
													<option value="1">10</option>
													<option value="1">11</option>
													<option value="2">12</option>
													<option value="3">13</option>
													<option value="4">14</option>
													<option value="5">15</option>
													<option value="6">16</option>
													<option value="7">17</option>
													<option value="7">18</option>
													<option value="7">19</option>
													<option value="7">20</option>
													<option value="1">21</option>
													<option value="2">22</option>
													<option value="3">23</option>
													<option value="4">24</option>
													<option value="5">25</option>
													<option value="6">26</option>
													<option value="7">27</option>
													<option value="7">28</option>
													<option value="7">29</option>
													<option value="7">30</option>
													<option value="7">31</option>
				
													</select>
				
													<select  id="DateOfBirth" class="input_oraniser_birthday">
													<option value="0">Month</option>
													<option value="1">January</option>
													<option value="2">February</option>
													<option value="3">March</option>
													<option value="4">April</option>
													<option value="5">May</option>
													<option value="6">June</option>
													<option value="7">July</option>
													<option value="7">August</option>
													<option value="7">September</option>
													<option value="1">October</option>
													<option value="1">Novebmer</option>
													<option value="2">December</option>
				
			
				
													</select>
				
														</select>
				
													 <select  id="DateOfBirth" class="input_oraniser_birthday">
													<option value="0">Year</option>
													<option value="1">1961</option>
													<option value="2">1962</option>
													<option value="3">1963</option>
													<option value="4">1964</option>
													<option value="5">1965</option>
													<option value="6">1966</option>
													<option value="7">1967</option>
													<option value="8">1968</option>
													<option value="9">1969</option>
													<option value="10">1970</option>
													<option value="11">1971</option>
													<option value="12">1972</option>
													<option value="14">1973</option>
													<option value="14">1974</option>
													<option value="15">1975</option>
													<option value="16">1976</option>
													<option value="17">1977</option>
													<option value="18">1978</option>
													<option value="19">1979</option>
													<option value="20">1980</option>
													<option value="21">1981</option>
													<option value="22">1982</option>
													<option value="23">1983</option>
													<option value="24">1984</option>
													<option value="25">1985</option>
													<option value="26">1986</option>
													<option value="27">1987</option>
													<option value="28">1988</option>
													<option value="29">1989</option>
													<option value="30">1990</option>
													<option value="31">1991</option>
													<option value="32">1992</option>
													<option value="33">1993</option>
													<option value="34">1994</option>
													<option value="36">1995</option>
													<option value="36">1996</option>
													<option value="37">1997</option>
													<option value="38">1999</option>
													<option value="39">1999</option>
													<option value="40">2000</option>
			
													</select>
				
                                      

									
									
									
									              
                                         
   
                                       


                              </div>
                              
								  <div class="right_container_form" ">
									
		
													
                                           <div class="form_heading">Addresss</div>
                                       
                                         <input type="text" id="StreetAddress" class="input_registration" placeholder="Number/ Street addresst"><br>
                                                    
                                                    <select  id="Suburb" class="input_registration_drop">
													<option value="0">Suburb:</option>
													</select>
													 <select  id="City" class="input_registration_drop">
													<option value="0">City</option>
													</select>
                                        <input type="text" id="PostalCode" class="input_registration" placeholder="Postal Code">

  
									
									 
									  <select name="Province" id="province" class="input_registration_drop">
													<option value="0">Province</option>
													<option value="1">Western Cape</option>
													<option value="2">Eastern Cape</option>
													<option value="3">Northern Cape</option>
													<option value="4">Gauteng</option>
													<option value="5">Limpopo</option>
													<option value="6">Mpumalanga</option>
													<option value="7">KwaZulu-Natal</option>
													<option value="7">North-West</option>
													<option value="7">Freestate</option>
													</select>
													
													
													
 
  
									  
									<div class="register_newsletter_text">Would you like to win monthly tickets & stay updated about the latest gigs, concerts and festivals. All you have to do is sign up to our newsletter.</div>
									Yes <input type="checkbox" id="Sex" value="male" class="input_oraniser_sex" >No<input type="checkbox" id="" value="female"  class="input_oraniser_sex"></span>
									
									
									  
									<div class="register_newsletter_text">By clicking yes you accept the terms and conditions You can view our <a href="#">T&C's here.</a>	<div>
									Yes
									<class="check_box"><input type="checkbox" id="" value="" class="input_oraniser_sex" >No<input type="checkbox" id="" value=""  class="input_oraniser_sex"></div>

									  <input type="submit" value="Submit" class="input_organiser_submit">
									  
									  
									  </form>



                              </div>
                              
                      </div>
                      
	</div>
								


</div>


</div>
<div class="footer">


<div class="footer_wrapper">
                        
          <div class="footer_container_border_none">
            <div class="footer_heading">Information</div>
				  <div class="footer_copy">About</div>
				  <div class="footer_copy">Services</div>
				  
				  
  
               
        </div> 
        <div class="footer_container_border_left">
          
				  <div class="footer_heading">Need Help?</div>
				  <div class="footer_copy">FAQ's</div>
				  <div class="footer_copy">T&C's</div>
				   <div class="footer_copy">Help Desk</div>
				   <div class="footer_copy">Contact</div>
               
        </div> 
        <div class="footer_container_border_left">
          
                 <div class="footer_heading">Other</div>
				  <div class="footer_copy">Careers</div>
				  <div class="footer_copy">Marketing</div>
				  <div class="footer_copy">Partnerships</div>
               
        </div> 
        <div class="footer_container_border_left">
          
                  <div class="footer_heading">Social</div>
				  <div class="footer_copy">Facebook</div>
				   <div class="footer_copy">Twitter</div>
				   <div class="footer_copy">Google+</div>
				   <div class="footer_copy">Linkedin</div>
               
        </div> 
				
				
				 
		</div>

</div>



</body>
</html>
