
<!DOCTYPE HTML>
<html>
<head>
<title>MiiD | Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name ="description" content ="MiiD">
<meta name="keywords" content="">
<link rel="stylesheet" href="../../content/css/main.css" type="text/css">
<link rel="shortcut icon" href="images/icon.png?v=2" type="image/x-icon" />






</head>



<body>

<div class="header">
                       
                        <div class="header_wrapper">
                               
                                        <div class="header_container_left">
                                        
                                         <img src="../../content/images/logo.png" alt=" miiImage" class="logo" />
												<ul class="drop_menu">
														<li><img src="../../content/images/drop_menu.png" alt=" miiImage" class="logo" />
															<ul>
																<li><a href='#'>About</a></li>
																<li><a href='#'>Services</a></li>
																<li><a href='#'>FAQ's</a></li>
																<li><a href='#'>Help</a></li>
																
																
															</ul>
														</li>
				
				
												</ul>
										
                                        
                                      
                                         </div>
                                         
                                        
                                         
                             
                             </div>
                            

</div>



  <!--  first section picture & form -->

<div class="firstsection">

			<!-- opaque wrapper -->
						<div class="wrapper">

			 
			                    
 
 <div class="form_wrapper">
 <!-- starat banner -->
								 <div class="logging_banner">
										<img src="../../content/images/registration_banner.jpg" name="slide" border="0" width="850px" height="230px">		
											
								   </div>

									 <!-- close banner -->
 
 
               <div class="form_container">
               <div  class="register_heading">Just a few easy steps:</div>
               <div  class="register_text"> All you have to do is fill out the form below and your half way there.
                Once we have recieved this infomation we will drop you a email with your log-in details. Remember to insert the correct email as this will be used in your log-in process, communication or if you forget your password.
                
                 <div  class="register_text_error"> *error msg</div>
                
               </div>
             
                        <div class="right_container_form_reg">
									<form action="" method="post" id="EndUser">
									
								      <input type="text" id="" class="input_registration"  placeholder="Email"> <!----------- insert id for pasword -------------->
								      <input type="text" id="" class="input_registration"  placeholder="Confirm Email"> <!----------- insert id for pasword -------------->

                       </div>
                              
						<div class="right_container_form_reg_two  ">
								  
								      <input type="text" id="" class="input_registration"  placeholder="Password"> <!----------- insert id for pasword -------------->
								      <input type="text" id="" class="input_registration"  placeholder=" Confrim Password"> <!----------- insert id for pasword -------------->
                                       <input type="submit" value="Submit" class="input_organiser_submit">
                                      
                         </div>
                              
                                   </form>
                              
                      </div>
                      
	</div>
								


</div>


</div>
<div class="footer">


<div class="footer_wrapper_two">
                        
          <div class="footer_container_border_none">
            <div class="footer_heading">Information</div>
				  <div class="footer_copy">About</div>
				  <div class="footer_copy">Services</div>
				  
				  
  
               
        </div> 
        <div class="footer_container_border_left">
          
				  <div class="footer_heading">Need Help?</div>
				  <div class="footer_copy">FAQ's</div>
				  <div class="footer_copy">T&C's</div>
				   <div class="footer_copy">Help Desk</div>
				   <div class="footer_copy">Contact</div>
               
        </div> 
        <div class="footer_container_border_left">
          
                 <div class="footer_heading">Other</div>
				  <div class="footer_copy">Careers</div>
				  <div class="footer_copy">Marketing</div>
				  <div class="footer_copy">Partnerships</div>
               
        </div> 
        <div class="footer_container_border_left">
          
                  <div class="footer_heading">Social</div>
				  <div class="footer_copy">Facebook</div>
				   <div class="footer_copy">Twitter</div>
				   <div class="footer_copy">Google+</div>
				   <div class="footer_copy">Linkedin</div>
               
        </div> 
				
				
				 
		</div>

</div>
</body>
</html>
