
<!DOCTYPE HTML>
<html>
<head>
<title>MiiD | additional info</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name ="description" content ="MiiD">
<meta name="keywords" content="">
<link rel="stylesheet" href="../../content/css/main.css" type="text/css">
<link rel="shortcut icon" href="images/icon.png?v=2" type="image/x-icon" />



<script src="../../scripts/cropbox/jquery-1.11.1.min.js"></script>
<script src="../../scripts/cropbox/cropbox.js"></script>



  
</head>






<body>

<div class="header">
                       
                        <div class="header_wrapper">
                               
                                        <div class="header_container_left">
                                        
                                                                               <img src="../../content/images/logo.png" alt=" miiImage" class="logo" />

												<ul class="drop_menu">
														<li><img src="../../content/images/drop_menu.png" alt=" miiImage" class="logo" />
															<ul>
																<li><a href='#'>About</a></li>
																<li><a href='#'>Services</a></li>
																<li><a href='#'>FAQ's</a></li>
																<li><a href='#'>Help</a></li>
																
															</ul>
														</li>
				
				
												</ul>
										
                                        
                                         </div>
                                         
                                         
                                         
                             
                             </div>
                            

</div>



  <!--  first section picture & form -->

<div class="firstsection">

			<!-- opaque wrapper -->
						<div class="wrapper">

			 
			                    
 
 <div class="form_wrapper">
 <!-- starat banner -->
								 

									 <!-- close banner -->
 
 
               <div class="form_container">
               
               <div   class="register_heading">Mii-Funds information Page</div>
               <div   class="register_text"> Here you can top up funds, view balances and withdraw what ever funds you have left. If you would like to withdraw funds, Please click here
                
               </div>
              
               
               
               
               
              
								
                      
               
               
               
               
                        <div class="right_container_form_two">
									<form action="" method="post" id="EndUser">
									

									
									<div class="form_heading">Available Funds: R700</div>
													 <div class="sub_heading_ticket">View Detailed Balance </div>
													 <div class="form_heading">Purchase Funds</div>
														<div class="ticket_total_text_two">Amount <input type="text" id="Surname" class="band_box" placeholder="eg.520"> </div>
														
														

                                                            
 
	
                               </div>

																
		
                            
                              
								  <div class="right_container_form_add" ">
								  
									
													
									<div class="form_heading">How would you like to top up funds</div>
									           
														   <div class="tender_ticket_small"> 
															 <div class="ticket_check"><input type="checkbox" id="" value="Yes" class="" > Instant EFT
															 </div>
													         </div>
													         
													           <div class="tender_ticket_small"> 
															 <div class="ticket_check"><input type="checkbox" id="" value="Yes" class="" > EFT
															 </div>
													         </div>
													         
													           <div class="tender_ticket_small"> 
															 <div class="ticket_check"><input type="checkbox" id="" value="Yes" class="" > Credit/ Cheque Card
															 </div>
													         </div>
                                                 
                                                             <div class="ticket_text_contaianer">	
											                 <div class="sub_heading_ticket_small">Please read the<a href="#"> T&c's</a> and then click check box to continue:
															 <div class="ticket_check"><input type="checkbox" id="" value="Yes" class="" >
															 </div>
													         </div>
													    	</div>
											
									 <input type="button"  class="band_input_clear" value="top up" >		        
	
	
                               </div>
                              
											        


		
									
			
											        
				
				
													
											       
 
													
													
 
  
									  
								
									
									  
									
									
									  
									  
									  </form>



                              </div>
                              
                      </div>
                      
	</div>
								


</div>


</div>
<div class="footer">


<div class="footer_wrapper">
                        
          <div class="footer_container_border_none">
            <div class="footer_heading">Information</div>
				  <div class="footer_copy">About</div>
				  <div class="footer_copy">Services</div>
				  
				  
  
               
        </div> 
        <div class="footer_container_border_left">
          
				  <div class="footer_heading">Need Help?</div>
				  <div class="footer_copy">FAQ's</div>
				  <div class="footer_copy">T&C's</div>
				   <div class="footer_copy">Help Desk</div>
				   <div class="footer_copy">Contact</div>
               
        </div> 
        <div class="footer_container_border_left">
          
                 <div class="footer_heading">Other</div>
				  <div class="footer_copy">Careers</div>
				  <div class="footer_copy">Marketing</div>
				  <div class="footer_copy">Partnerships</div>
               
        </div> 
        <div class="footer_container_border_left">
          
                  <div class="footer_heading">Social</div>
				  <div class="footer_copy">Facebook</div>
				   <div class="footer_copy">Twitter</div>
				   <div class="footer_copy">Google+</div>
				   <div class="footer_copy">Linkedin</div>
               
        </div> 
				
				
				 
		</div>

</div>



</body>
</html>

<script type="text/javascript">
    $(window).load(function() {
        var options =
        {
            thumbBox: '.thumbBox',
            spinner: '.spinner',
            imgSrc: '../../content/images/upload.jpg'
        }
        var cropper = $('.imageBox').cropbox(options);
        $('#file').on('change', function(){
            var reader = new FileReader();
            reader.onload = function(e) {
                options.imgSrc = e.target.result;
                cropper = $('.imageBox').cropbox(options);
            }
            reader.readAsDataURL(this.files[0]);
            this.files = [];
        })
        $('#btnCrop').on('click', function(){
            var img = cropper.getDataURL();
			$("#imageID").attr('src', img);
            //$('.cropped').append('<img src="'+img+'">');
        })
        $('#btnZoomIn').on('click', function(){
            cropper.zoomIn();
        })
        $('#btnZoomOut').on('click', function(){
            cropper.zoomOut();
        })
    });
</script>







</body>
</html>
