<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>Mi-id   |  Create Event</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="index, follow" />
	<meta name="viewport" content="initial-scale=0.8">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="../../content/css/main.css"  />
	
<script src="../../scripts/cropbox/jquery-1.11.1.min.js"></script>
<script src="../../scripts/cropbox/cropbox.js"></script>

		
</head>
<body class="profile_body">



<div class="header">
                       
                        <div class="header_wrapper">
                               
                                        <div class="header_container_left">
                                        <img src="../../content/images/logo.png" alt=" miiImage" class="logo" />
                                       
												<ul class="drop_menu">
														<li><img src="../../content/images/drop_menu.png" alt=" miiImage" class="logo" />
															<ul>
																<li><a href='#'>About</a></li>
																<li><a href='#'>Services</a></li>
																<li><a href='#'>FAQ's</a></li>
																<li><a href='#'>Help</a></li>
																<li><a href='#'>Log Out</a></li>
																
															</ul>
														</li>
				
				
												</ul>
										
                                        
                                        
                                         </div>
                                         
                                         
                                         
                             
                             </div>
                            

</div>


		 	
     </div>
            
           

</div>

<div class="profile_body_container">

	
	

		
		
		
<div class="colmask threecol">



	<div class="colmid">
	
	
		<div class="colleft">
			<div class="col1">
				<!-- user options  start -->
				
				<div class="middle_container_organiser">
				   <div class="newsfeed_container_organiser">
				
				   <div class="events_user_heading" >Create Event</div>
				   
				   	 <input type="text" id="" class="input_organiser"  placeholder="Event Name" autofocus autocomplete="off">
				   	 
				   	 	<!-- @@@@@@     use text area and not <label>    @@@@@@@ -->
				   	 	
                   
                   
                    
                    
                                     <div class="organiser_add_container "> 
                                     
                                            <div class="organiser_add_left">
                                            <div class="oraniser_add_text"> Start Date</div>
                                            
                                                    <select name="Date" id="province" class="organiser_add_drop" autofocus autocomplete="off">
													<option value="0">Date</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="7">8</option>
													<option value="7">9</option>
													<option value="0">10</option>
													<option value="1">11</option>
													<option value="2">12</option>
													<option value="3">13</option>
													<option value="4">14</option>
													<option value="5">15</option>
													<option value="6">16</option>
													<option value="7">17</option>
													<option value="7">18</option>
													<option value="7">19</option>
													<option value="0">20</option>
													<option value="1">21</option>
													<option value="2">22</option>
													<option value="3">23</option>
													<option value="4">24</option>
													<option value="5">25</option>
													<option value="6">26</option>
													<option value="7">27</option>
													<option value="7">28</option>
													<option value="7">29</option>
													<option value="7">30</option>
													<option value="7">31</option>
													</select>
													<select name="Months" id="province" class="organiser_add_drop" autofocus autocomplete="off">
													<option value="0">Month</option>
													<option value="1">January</option>
													<option value="2">February</option>
													<option value="3">March</option>
													<option value="4">April</option>
													<option value="5">May</option>
													<option value="6">June</option>
													<option value="7">July</option>
													<option value="7">August</option>
													<option value="7">September</option>
													<option value="7">October</option>
													<option value="7">November</option>
													<option value="7">December</option>
													</select>
													<select name="Months" id="province" class="organiser_add_drop" autofocus autocomplete="off">
													<option value="0">Year</option>
													<option value="1">2015</option>
													<option value="2">2016</option>
													<option value="3">2017</option>
													
													</select>
                                            </div>
                                             <div class="organiser_add_left">
                                            <div class="oraniser_add_text">Start Time</div>
                                            	<select name="Months" id="province" class="organiser_add_drop" autofocus autocomplete="off">
													<option value="0">Time</option>
													<option value="7">00:00</option>
													<option value="7">00:30</option>
													<option value="1">01:00</option>
													<option value="2">01:30</option>
													<option value="3">02:00</option>
													<option value="4">02:30</option>
													<option value="5">03:00</option>
													<option value="6">03:30</option>
													<option value="7">04:00</option>
													<option value="7">04:30</option>
													<option value="1">05:00</option>
													<option value="2">05:30</option>
													<option value="3">06:00</option>
													<option value="4">06:30</option>
													<option value="5">07:00</option>
													<option value="6">08:30</option>
													<option value="7">09:00</option>
													<option value="7">10:30</option>
													<option value="1">11:00</option>
													<option value="2">11:30</option>
													<option value="3">12:00</option>
													<option value="4">12:30</option>
													<option value="5">13:00</option>
													<option value="6">13:30</option>
													<option value="7">14:00</option>
													<option value="7">14:30</option>
													<option value="1">15:00</option>
													<option value="2">15:30</option>
													<option value="3">16:00</option>
													<option value="4">16:30</option>
													<option value="5">17:00</option>
													<option value="6">17:30</option>
													<option value="7">18:00</option>
													<option value="7">18:30</option>
													<option value="7">19:00</option>
													<option value="7">19:30</option>
													<option value="1">20:00</option>
													<option value="2">20:30</option>
													<option value="3">21:00</option>
													<option value="4">21:30</option>
													<option value="5">22:00</option>
													<option value="6">22:30</option>
													<option value="7">23:00</option>
													<option value="7">23:30</option>
													<option value="7">24:00</option>
													<option value="7">00:30</option>
													<option value="7">Freestate</option>
													</select>
                                            </div>
                                             <div class="organiser_add_left">
                                            <div class="oraniser_add_text"> End Date</div>
                                            
                                                    <select name="Date" id="province" class="organiser_add_drop" autofocus autocomplete="off">
													<option value="0">Date</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="7">8</option>
													<option value="7">9</option>
													<option value="0">10</option>
													<option value="1">11</option>
													<option value="2">12</option>
													<option value="3">13</option>
													<option value="4">14</option>
													<option value="5">15</option>
													<option value="6">16</option>
													<option value="7">17</option>
													<option value="7">18</option>
													<option value="7">19</option>
													<option value="0">20</option>
													<option value="1">21</option>
													<option value="2">22</option>
													<option value="3">23</option>
													<option value="4">24</option>
													<option value="5">25</option>
													<option value="6">26</option>
													<option value="7">27</option>
													<option value="7">28</option>
													<option value="7">29</option>
													<option value="7">30</option>
													<option value="7">31</option>
													</select>
													<select name="Months" id="province" class="organiser_add_drop" autofocus autocomplete="off">
													<option value="0">Month</option>
													<option value="1">January</option>
													<option value="2">February</option>
													<option value="3">March</option>
													<option value="4">April</option>
													<option value="5">May</option>
													<option value="6">June</option>
													<option value="7">July</option>
													<option value="7">August</option>
													<option value="7">September</option>
													<option value="7">October</option>
													<option value="7">November</option>
													<option value="7">December</option>
													</select>
													<select name="Months" id="province" class="organiser_add_drop" autofocus autocomplete="off">
													<option value="0">Year</option>
													<option value="1">2015</option>
													<option value="2">2016</option>
													<option value="3">2017</option>
													
													</select>
                                            </div>
                                            
                                                <div class="organiser_add_left">
                                            <div class="oraniser_add_text"> End Time</div>
                                            	<select name="Months" id="province" class="organiser_add_drop" autofocus autocomplete="off">
													<option value="0">Time</option>
													<option value="7">00:00</option>
													<option value="7">00:30</option>
													<option value="1">01:00</option>
													<option value="2">01:30</option>
													<option value="3">02:00</option>
													<option value="4">02:30</option>
													<option value="5">03:00</option>
													<option value="6">03:30</option>
													<option value="7">04:00</option>
													<option value="7">04:30</option>
													<option value="1">05:00</option>
													<option value="2">05:30</option>
													<option value="3">06:00</option>
													<option value="4">06:30</option>
													<option value="5">07:00</option>
													<option value="6">08:30</option>
													<option value="7">09:00</option>
													<option value="7">10:30</option>
													<option value="1">11:00</option>
													<option value="2">11:30</option>
													<option value="3">12:00</option>
													<option value="4">12:30</option>
													<option value="5">13:00</option>
													<option value="6">13:30</option>
													<option value="7">14:00</option>
													<option value="7">14:30</option>
													<option value="1">15:00</option>
													<option value="2">15:30</option>
													<option value="3">16:00</option>
													<option value="4">16:30</option>
													<option value="5">17:00</option>
													<option value="6">17:30</option>
													<option value="7">18:00</option>
													<option value="7">18:30</option>
													<option value="7">19:00</option>
													<option value="7">19:30</option>
													<option value="1">20:00</option>
													<option value="2">20:30</option>
													<option value="3">21:00</option>
													<option value="4">21:30</option>
													<option value="5">22:00</option>
													<option value="6">22:30</option>
													<option value="7">23:00</option>
													<option value="7">23:30</option>
													<option value="7">24:00</option>
													<option value="7">00:30</option>
													<option value="7">Freestate</option>
													</select>
                                            </div>
                                     
                                     
                                     
                                     
                                     </div>
                  
                     <input type="text" id="" class="input_organiser"  placeholder="Venue" autofocus autocomplete="off">
				   	<input type="text" id="" class="input_organiser"  placeholder="Street Adress" autofocus autocomplete="off">
				   <select name="Months" id="province" class="organiser_add_drop_long" autofocus autocomplete="off">
													<option value="0">Suburb</option>
													<option value="1">2015</option>
													<option value="2">2016</option>
													<option value="3">2017</option>
													
						</select>
						<select name="Months" id="province" class="organiser_add_drop_long " autofocus autocomplete="off">
													<option value="0">City</option>
													<option value="1">2015</option>
													<option value="2">2016</option>
													<option value="3">2017</option>
													
						</select>
				   		
				   		     
				   		
                 

				</div>

				   
			 	    
			 	    
			 	  			 	    <input type="button"  class="buy_ticket" value="Launch Event" >

			 	    
				</div>
				
				
				<!-- event information  end -->
				
				
				<!-- newsfeed start  -->
				
				
				
				
				<!-- Column 1 end -->
			</div>
			<div class="col2">
				<!-- Column 2 start -->
                <div class="profile_name">Donava Wallis</div>  <!-- link profile database to user name--> 
                 <div class="profile_edit">Mii Details...</div> <!--linke to edit profile page--> 
     				<div class="profile_img">	<img src="../../content/images/profile.jpg"  />	</div>

		      
		      
		      <div class="option_container">
              
				  <div class="icon_left"> <img src="../../content/images/profile_event_icon.png" /></div> 
				   <input type="button" class="profile_ticket_button"  name="userlogging_button" value="Create Event" /></label>
			  
		      </div>
		      <div class="option_container">
              
				  <div class="icon_left"> <img src="../../content/images/profile_kids_icon.png" /></div> 
				   <input type="button" class="profile_ticket_button"  name="userlogging_button" value="Account" /></label>
			  
		      </div>
		        
		    

			</div>
			<div class="col3">
				<!-- Column 3 start -->
				
				
			
 
				</div>
				
				
					
				</div>
				
		</div>
	</div>
</div>

</div>

<div class="footer_two">


<div class="footer_wrapper">
                        
          <div class="footer_container_border_none">
            <div class="footer_heading">Information</div>
				  <div class="footer_copy">About</div>
				  <div class="footer_copy">Services</div>
				  
				  
  
               
        </div> 
        <div class="footer_container_border_left">
          
				  <div class="footer_heading">Need Help?</div>
				  <div class="footer_copy">FAQ's</div>
				  <div class="footer_copy">T&C's</div>
				   <div class="footer_copy">Help Desk</div>
				   <div class="footer_copy">Contact</div>
               
        </div> 
        <div class="footer_container_border_left">
          
                 <div class="footer_heading">Other</div>
				  <div class="footer_copy">Careers</div>
				  <div class="footer_copy">Marketing</div>
				  <div class="footer_copy">Partnerships</div>
               
        </div> 
        <div class="footer_container_border_left">
          
                  <div class="footer_heading">Social</div>
				  <div class="footer_copy">Facebook</div>
				   <div class="footer_copy">Twitter</div>
				   <div class="footer_copy">Google+</div>
				   <div class="footer_copy">Linkedin</div>
               
        </div> 
				
				
				 
		</div>

</div>





<script type="text/javascript">
    $(window).load(function() {
        var options =
        {
            thumbBox: '.thumbBox',
            spinner: '.spinner',
                   imgSrc: '../../content/images/upload.jpg'
        }
        var cropper = $('.imageBox').cropbox(options);
        $('#file').on('change', function(){
            var reader = new FileReader();
            reader.onload = function(e) {
                options.imgSrc = e.target.result;
                cropper = $('.imageBox').cropbox(options);
            }
            reader.readAsDataURL(this.files[0]);
            this.files = [];
        })
        $('#btnCrop').on('click', function(){
            var img = cropper.getDataURL();
			$("#imageID").attr('src', img);
            //$('.cropped').append('<img src="'+img+'">');
        })
        $('#btnZoomIn').on('click', function(){
            cropper.zoomIn();
        })
        $('#btnZoomOut').on('click', function(){
            cropper.zoomOut();
        })
    });
</script>
</body>
</html>
