@{
    ViewBag.Title = "ConfirmEmail";

}





<div class="container bg-grey">
	<div class="row vertical-offset-40px">


		<div class="col-md-4 col-md-offset-4">

			<div class="panel panel-default ">

				<div class="panel-body text-center">
					<h2>Excellent!</h2>
					
					
					<p>Your Email has been verified Please click continue to login. </p>
					<p>@Html.ActionLink("Continue", "LoginAlternative", "LoginAlternative", null, new { @class = "btn btn-lg btn-default btn-block" })</p>

				</div>
        	</div>
         </div>
		</div>
    </div>

