@model MiidWeb.Models.PurchaseTicketViewModel
@{
    ViewBag.Title = "COnfirmPurchasePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
 

}

<h2>COnfirmPurchasePage</h2>
<p>if we could have 
    user id 
    event name
    ticket type 
    and full amount here that would help alot.
    maybe payment id if you can</p>

<h2>I can sort out the rest</h2>




