@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Mii-Funds";

    var notification = ViewBag.Notification;
   // MiidWeb.Controllers.UserModel u1 = MiidWeb.Helpers.SessionManager.EndUser;
}



<div class="container bg-grey">
	<div class="vertical-offset-40px">
		<div class="col-md-4 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-body text-center">

					<h4>Card or Instant EFT</h4>
					<p class="choosetender-container">
						Once you select this option you will be guided to our secure 3rd party payment gateway.
						<br><span style="font-size:10px;">*Service fees may apply</span>
					</p>
					<p><a href="~/MyMoneys/InstantEFT"><button class="btn btn-info btn-block btn-lg " type="submit" value="Register">Instant EFT / Card</button></a></p>
					<Br><img src="https://www.miid.co.za/Content/images/newimages/payfast-card.svg" class="img-lg">
				</div>


			</div>

		</div>

		<div class="col-md-4 ">

			<div class="panel panel-default">

				<div class="panel-body text-center">

					<h4>Bank Transfer</h4>
					<p class="choosetender-container">
						Use Use traditional transfer to deposit funds into your Mi-id account.&nbsp;&nbsp;&nbsp;
                        <br><span style="font-size:10px;">&nbsp;</span>
					</p>
					<p><a href="~/MyMoneys/ManualEFT"><button class="btn btn-info btn-block btn-lg" type="submit" value="Register">Bank Transfer </button></a></p>
					<Br><img src="https://www.miid.co.za/Content/images/newimages/banking.svg" class="img-lg">
					<br>
					<br>




				</div>



			</div>

		</div>
	</div>
</div>




         



















